/* font-family: 'Roboto', sans-serif; Roboto: 100, 300, 500, 100 italic, 300 italic*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;1,100;1,300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* html {
  scroll-behavior: smooth;
} */

a {
  text-decoration: none;
}

header {
  min-height: 50rem;
  width: 100%;
  background-color: #f9f2ed;
  position: relative;
}

nav {
  max-width: 1100px;
  max-height: 120px;
  margin: 0px auto;
}

header .nav_container_big_screen {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
}

header .nav_container_big_screen a {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 120%;
  letter-spacing: 0.4em;
  color: #3c271d;
  text-transform: uppercase;
}

header .nav_container_small_screen {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 20px;
  margin: 0;
  position: fixed;
  z-index: 1;
  background-color: #f9f2ed;
  box-shadow: -10px 13px 18px -10px #bbb;
}

header .nav_container_small_screen button {
  border: none;
  background-color: #f9f2ed;
}

#menu_icon {
  cursor: pointer;
}

.menu_small_screen {
  margin-top: 50px;
  position: fixed;
  right: 0;
  z-index: 1;
  background-color: #f9f2ed;
  box-shadow: -10px 13px 18px -10px #bbb;
}

.menu_small_screen ul {
  padding: 15px;
  height: 100vh;
  width: 135px;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
}

.menu_small_screen ul a {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 120%;
  letter-spacing: 0.4em;
  text-transform: uppercase;
  color: #161614;
}

.logo {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -1px;
  align-items: baseline;
  color: #3c271d;
}

.logo-header {
  padding: 0 40px;
}

.intro {
  padding: 60px 0;
  max-width: 770px;
  min-height: 680px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  flex-wrap: wrap;
}

.intro .intro_container {
  width: 100%;
  padding-top: 50px;
}

.header-title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 85px;
  line-height: 100%;
  letter-spacing: -0.03em;
  color: #3c271d;
  padding-bottom: 50px;
}

.header-title span {
  font-style: italic;
  font-weight: 200;
}

.header-links {
  display: flex;
  max-width: 476px;
  justify-content: space-around;
  margin: 0 auto;
  flex-wrap: wrap;
  padding: 0 10px;
}

.header-links a {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #161614;
}

.intro_container img {
  padding-top: 100px;
}

#header-left-image {
  position: absolute;
  bottom: 6.25rem;
  left: 0;
}

#header-right-image {
  position: absolute;
  right: 0;
  bottom: 13.75rem;
}

section.projects {
  background: #fffcf9;
  min-height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px 0;
}

.projects-container {
  width: 100%;
  min-height: 450px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}

.project {
  margin: 20px;
}

#projects-section-title {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(180deg);
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 100%;
  font-weight: 500;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #3c271d;
}

.project-title {
  margin-top: 50px;
}

.title {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: -0.04em;
  color: #3c271d;
  text-align: center;
}

.project .branding {
  margin-top: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #161614;
  text-align: center;
  font-weight: 300;
}

.links {
  width: fit-content;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.4em;
  text-transform: uppercase;
  color: #161614;
  padding-bottom: 10px;
  border-bottom: 1px solid #161614;
  text-align: center;
}

.projects-link {
  margin: 20px 0;
}

section.services {
  background: #f3eee8;
  min-height: 450px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

section.services .service {
  max-width: 200px;
  height: 240px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
}

section.services .first {
  max-width: 200px;
  height: 240px;
}

.service-section-title {
  padding-top: 5px;
  font-size: 60px;
}

.service-title {
  text-align: left;
}

section.blogs {
  min-height: 800px;
  width: 100%;
  background: #fffcf9;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 40px 0;
}

section.blogs img {
  height: 350px;
  width: 340px;
  padding: 50px;
  background-color: #f8f4f0;
}

.blogs-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
}

.section-blog-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 100%;
  display: flex;
  align-items: center;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #1f1f1f;
}

.blog-item {
  height: 500px;
  width: 350px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  color: #3c271d;
  margin: 20px 0;
}

.blog-item-date {
  font-weight: 500;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.4em;
  text-transform: uppercase;
  margin: 30px 0px;
}

.blog-item-title {
  font-weight: 300;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: -0.03em;
  text-transform: capitalize;
}

.blog-item-title span {
  font-style: italic;
}

section.about-me {
  width: 100%;
  min-height: 650px;
  background: #f3eee8;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px 0;
}

.about-me-images {
  max-height: 460px;
  width: 560px;
  position: relative;
  text-align: center;
}

#first-about-me-img {
  max-width: 400px;
  max-width: 100%;
  height: auto;
}

#second-about-me-img {
  max-width: 210px;
  height: 305px;
  z-index: 1;
  left: 350px;
  top: 75px;
  position: absolute;
}

section.about-me article {
  width: 400px;
  min-height: 455px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px;
  align-items: center;
  text-align: center;
}

section.about-me article h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 55px;
  line-height: 115%;
  letter-spacing: -0.03em;
  color: #3c271d;
}

section.about-me article p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  color: #161614;
}

section.about-me article button {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.4em;
  text-transform: uppercase;
  color: #161614;
  width: 220px;
  height: 40px;
  background: #dccfc0;
  border: none;
  cursor: pointer;
}

section.subscribe {
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f8f4f0;
}

.subscribe-container {
  height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.subscribe-container p:first-child {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #3c271d;
}

.subscribe-container p:nth-child(2) {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 50px;
  line-height: 100%;
  letter-spacing: -0.03em;
  text-transform: capitalize;
  color: #3c271d;
  text-align: center;
  padding: 10px 0;
}
.subscribe-container input {
  width: 450px;
  height: 65px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #161614;
  border: none;
  margin-bottom: 25px;
}

section.connect {
  min-height: 650px;
  display: flex;
  align-items: center;
  background: #eae3db;
}

.connect-container {
  width: 100%;
  display: grid;
  grid-template: 3fr 1fr / 1fr 3fr 1fr;
  justify-items: center;
  text-align: center;
  align-items: center;
}

.connect-container h3 {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(180deg);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 120%;
  font-weight: 300;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #3c271d;
}

.connect-container h2 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 60px;
  line-height: 110%;
  letter-spacing: -0.03em;
  text-transform: capitalize;
  color: #3c271d;
  padding: 20px;
}

.connect-container button {
  grid-column: 2/3;
  width: 220px;
  height: 40px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.4em;
  text-transform: uppercase;
  color: #161614;
  background: #dccfc0;
  border: none;
  cursor: pointer;
}

footer {
  background: #fffcf9;
}

footer .ig-area {
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 auto;
}

footer .ig-area h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 120%;
  font-weight: 300;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #161614;
  text-align: center;
  margin-top: 20px;
}

footer .ig-area .ig-images {
  width: 90%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer .ig-area .ig-images img {
  padding: 20px;
}

footer .footer {
  min-height: 400px;
  background: #f8f4f0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-left,
.footer-mid,
.footer-right {
  width: 33.3%;
  height: 170px;
  display: flex;
  justify-content: center;
}

.footer-left-container {
  max-width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.footer-left .icons {
  display: flex;
  justify-content: space-around;
}

.footer-mid {
  border-left: 1px #3c271d solid;
  border-right: 1px #3c271d solid;
}

.footer-mid ul,
.footer-right ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

.footer-mid a,
.footer-right a {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 120%;
  letter-spacing: 0.4em;
  text-transform: uppercase;
  color: #161614;
}

footer .copy-right {
  height: 100px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 120%;
  letter-spacing: 0.4em;
  text-transform: uppercase;
  color: #3c271d;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
